@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Roboto', sans-serif;
}

button {
  height: 25px;
  margin: 3px;
  /* background-color: A0D568; */
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: inset 2 2 2 2 #A0D568;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  background-color: #4FC1E888;
  border-radius: 5px;
  box-shadow: inset 2px 2px rgba(0,0,0,.15);
  font-size: 15px;
  /* font-weight: bolder; */
  /* font-size: large; */
}

.button-holder {
  background-position: center;
  background-repeat: no-repeat;
  /* width: 100%; */
  height: 100%;
}

button:hover {
  box-shadow: inset 0 0 0 50px #A0D568;
  transform: translate(2%,2%);
}

#color-0 {
  background-color: #c42121;
}

#color-1 {
  background-color: #e42828;
}

#color-2 {
  background-color: #f62d2d;
}

#color-3 {
  background-color: #ff6207;
}

#color-4 {
  background-color: #ff7707;
}

#color-5 {
  background-color: #ff8b07;
}

#color-6 {
  background-color: #ffa600;
}

#color-7 {
  background-color: #ffbb00;
}

#color-8 {
  background-color: #ffd000;
}


#color-9 {
  background-color: #fbff19;
}

#color-10 {
  background-image: linear-gradient(to bottom right, white, rgb(255, 253, 160),#f9fc42, rgb(255, 253, 160),white);
}

.color-palette {
  color: #AC92EB;
  color: #4FC1E8;
  color: #A0D568;
  color: #FFCE54;
  color: #ED5564;
}

.dashboard-fact {
  transition: all 900ms;
  cursor: default;
}

.dashboard-fact > h3 {
  transition: transform 500ms
}

.dashboard-fact > h3:hover {
  transform: scale(1.3)
}

.dashboard-fact:hover {
  /* position: relative; */
  /* top:50px; */
  box-shadow: inset 0 0 0 50px #AC92EB;
  /* border:  3px solid black; */
  /* transform: scale(1.3); */
}

.dash-info {
  margin: 5px;
}

.error {
  color: red;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

form {
  font-weight: bolder;
}

.grid {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: #4FC1E8; */
  background-color: black;

  padding: 5px;
  border-radius: 15px;
  max-width: 700px;
  margin-bottom: 5px;
}

.grid:hover {
  cursor: crosshair;
}

.grid-answer {
  font-size: min(3vw, 24px);
  margin-top: 18%;
  transition: transform 500ms; 
}

.grid-answer:hover {
  transform: scale(1.5);
  cursor: crosshair; 
}

.grid-fact-no-user {

  font-size: min(3vw, 24px);
  margin-top: 0%;
  margin-bottom: 0%;
  
}

.grid-mastered {
  font-size: min(1.7vw, 16px);
  /* margin-top: -8px; */
  border-radius: 10px;
  margin-top: 0%;
  margin-left: 2px;
  margin-right: 2px;
  background-color: white;
}

.grid-photo {
  width: 50%;
  min-width: 500px;
}

.grid-square {
  width: 8.6%;
  border-radius: 5px; 
  padding-bottom: 7.5%; /* 1:1 Aspect Ratio */
  text-align: center; 
  display: table-cell;
  flex-direction: column;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  border: 1px solid;
  align-items: center;
}

.grid-fact {
  /* font-size: max(1.6vw, 20px); */
  font-size: min(2vw, 18px);
  height: 70%;
}

.highlighter {
  background-image: linear-gradient(to bottom left, white,white,rgb(83, 172, 80),rgb(67, 150, 65),rgb(55, 131, 54) ,rgb(67, 150, 65),rgb(83, 172, 80), white,white);
  border-radius: 5px;
}

.home-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: auto;
  margin-bottom: 15px;
}

.home-one {
  text-align: center;
  text-decoration: underline;
  background-image: linear-gradient(to bottom right,#AC92EB88,#4FC1E888);
  border-radius: 20px;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 32px;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.home-two {
  text-align: center;
  background-image: linear-gradient(to bottom right, #4FC1E888, #A0d56888);
  border-radius: 20px;
  margin-left: 3.5%;
  margin-right: 3.5%;
  font-size: 29px;
  margin-bottom: 0px;
  font-style: italic;
  padding-left: 15px;
  padding-right: 15px;
  
}

.home-three {
  text-align: center;
  background-image: linear-gradient(to bottom right, #A0d56888, #FFCE5488);
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 26px;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.home-four {
  text-align: center;
  background-image: linear-gradient(to bottom right, #FFCE5488, #ED556488);
  border-radius: 20px;
  margin-left: 6.5%;
  margin-right: 6.5%;
  font-size: 23px;
  margin-bottom: 0px;
  font-style: italic;
  padding-left: 15px;
  padding-right: 15px;
}

.home-screen-button {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  text-decoration: underline;
  padding: 8px;
  margin: 25px;
  height: 75px;
  width: 165px;
  background-color: rgba(255, 255, 255, 0.74);
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 700;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

#level-0 {
  background-color: #c42121;
}

#level-1 {
  background-color: #e42828;
}

#level-2 {
  background-color: #f62d2d;
}

#level-3 {
  background-color: #ff6207;
}

#level-4 {
  background-color: #ff7707;
}

#level-5 {
  background-color: #ff8b07;
}

#level-6 {
  background-color: #ffa600;
}

#level-7 {
  background-color: #ffbb00;
}

#level-8 {
  background-color: #ffd000;
}

#level-9 {
  background-color: #fbff19;
}

#level-10 {
  background-image: linear-gradient(to bottom right, white, rgb(255, 253, 160),#f9fc42, rgb(255, 253, 160),white);
}

.mastery-color {
  width: 9.1%;
}

.nav-bar {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 12px;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
}

.nav-bar:hover {
  color: #4FC1E8;
  transform: translate( 2%, 2% );
}

.needs-support input[type='checkbox']{
  font-weight:bold;
  font-size: 50px;
  color: gray;
}

.number-grid-fact {
  font-size: 22px;
  font-weight: bolder;
  margin: 0;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 5px;
  transition: transform 500ms;
}

.number-grid-fact:hover {
  cursor: crosshair;
  transform: scale(1.2);
}

.number-square-0 {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%;
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  background-color: #AC92EB;
}

.number-square-1 {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%;
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  background-color: #4FC1E8;
}

.number-square-2 {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%;
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  background-color: #A0D568;
}

.number-square-3 {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%;
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  background-color: #FFCE54;
}

.number-square-4 {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%;
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  background-color: #ED5564;
}

.number-square-5 {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%;
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  background-color: #AC92EB;
}

.number-square-6 {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%;
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  background-color: #4FC1E8;
}

.number-square-7 {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%;
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  background-color: #A0D568;
}

.number-square-8 {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%;
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  background-color: #FFCE54;
}

.number-square-9 {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%;
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  background-color: #ED5564;
}

.number-square-reveal {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%;
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  background-color: white;
}

#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}

.quiz-grid {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #00396b;
  padding: 5px;
  border-radius: 15px;
  min-width: 400px;
  max-width: 450px;
  margin-bottom: 5px;
}

#quiz-square-0 {
  background-color: #AC92EB; 
  border-radius: 5px;
}

#quiz-square-1 {
  background-color: #AC92EB; 
  border-radius: 5px;
}

#quiz-square-2 {
  background-color: #AC92EB; 
  border-radius: 5px;
}

#quiz-square-3 {
  background-color: #AC92EB; 
  border-radius: 5px;
}

#quiz-square-4 {
  background-color: #AC92EB; 
  border-radius: 5px;
}

#quiz-square-5 {
  background-color: #AC92EB; 
  border-radius: 5px;
}

#quiz-square-6 {
  background-color: #AC92EB; 
  border-radius: 5px;
}

#quiz-square-7 {
  background-color: #AC92EB; 
  border-radius: 5px;
}

#quiz-square-8 {
  background-color: #AC92EB; 
  border-radius: 5px;
}

#quiz-square-9 {
  background-color: #AC92EB; 
  border-radius: 5px;
}

.student-dash-header {
  border: 2px solid;
}

.student-dash-fact {
  border: 1px solid; 
  border-radius: 3px;
  margin-left: 5px; 
  margin-right: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 53px;
  text-align: center;
  font-weight: bold;
}

.student-on-teacher-dash {
  margin: 10px;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ad92eb34;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.support-not-needed{
  margin: 5px; 
  
  padding: 5px;
  border-radius: 5px
}

.support-needed{
  margin: 5px; 
  background-color: #ED5564;
  padding: 5px;
  border-radius: 5px
}





.fonts-to-use {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Roboto;
  font-family: Open sans;
}

#matteo-1{
  background-color: #AD2823;
}

#matteo-2{
  background-color: #F26721;
}

#matteo-3{
  background-color: #FEE000;
}

#matteo-4{
  background-color: #4FB748;
}

#matteo-5{
  background-color: #07446B;
}

#matteo-6{
  background-color: #4B2164;
}

#matteo-7{
  background-color: #6C52A2;
}