@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Roboto', sans-serif;
}

.grid {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: #4FC1E8; */
  background-color: black;

  padding: 5px;
  border-radius: 15px;
  max-width: 700px;
  margin-bottom: 5px;
}

.quiz-grid {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #00396b;
  padding: 5px;
  border-radius: 15px;
  min-width: 400px;
  max-width: 450px;
  margin-bottom: 5px;
}

.grid-square {
  width: 8.6%;
  border-radius: 5px; 
  padding-bottom: 7.5%; /* 1:1 Aspect Ratio */
  text-align: center; 
  display: table-cell;
  flex-direction: column;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  border: 1px solid;
  align-items: center;
  
  
  /* margin-top: 3px; 
  margin-bottom: 3px; */
  /* border: 1px solid white; */
  
}



.number-square {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%; /* 1:1 Aspect Ratio */
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  /* margin-top: 3px; 
  margin-bottom: 3px; */
  /* border: 1px solid white; */
  background-image: linear-gradient(to bottom right, rgb(255, 253, 160),#fbff19,#ffb619 ,#fbff19, rgb(255, 253, 160));
}



.number-square-reveal {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%; /* 1:1 Aspect Ratio */
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  /* margin-top: 3px; 
  margin-bottom: 3px; */
  /* border: 1px solid white; */
  background-image: linear-gradient(to bottom right, rgb(105, 194, 102),rgb(83, 172, 80),rgb(67, 150, 65) ,rgb(83, 172, 80), rgb(105, 194, 102));
}

.grid-fact {
  /* font-size: max(1.6vw, 20px); */
  font-size: min(2vw, 18px);
  height: 70%;
}

.number-grid-fact {
  font-size: 22px;
  font-weight: bolder;
  margin: 0;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 5px;
}

.grid-answer {

  font-size: min(3vw, 24px);
  margin-top: 18%;
  
}

.grid-fact-no-user {

  font-size: min(3vw, 24px);
  margin-top: 0%;
  margin-bottom: 0%;
  
}


.grid-mastered {
  font-size: min(1.7vw, 16px);
  /* margin-top: -8px; */
  border-radius: 10px;
  margin-top: 0%;
  margin-left: 2px;
  margin-right: 2px;
  background-color: white;
  
  
}

.grid-photo {
  width: 50%;
  min-width: 500px;
}

.support-not-needed{
  margin: 5px; 
  
  padding: 5px;
  border-radius: 5px
}

.support-needed{
  margin: 5px; 
  background-color: #ED5564;
  padding: 5px;
  border-radius: 5px
}

.nav-bar {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-weight: bolder;
  font-size: 12px;
  /* min-width: 85px;
  max-width: ;  */
  /* font-size: 11px; */
  /* margin: 5 12px 12px; */
  /* background: #A0D568; */
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  color: black;
  /* border-radius: 5px; */
  /* height: 30px; */
  /* width: 65px; */
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  /* margin-bottom: 0px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.student-dash-header {
  border: 2px solid;
}

#level-0 {
  background-color: #c42121;
}

#level-1 {
  background-color: #e42828;
}

#level-2 {
  background-color: #f62d2d;
}

#level-3 {
  background-color: #ff6207;
}

#level-4 {
  background-color: #ff7707;
}

#level-5 {
  background-color: #ff8b07;
}

#level-6 {
  background-color: #ffa600;
}

#level-7 {
  background-color: #ffbb00;
}

#level-8 {
  background-color: #ffd000;
}


#level-9 {
  background-color: #fbff19;
}

#level-10 {
  background-image: linear-gradient(to bottom right, white, rgb(255, 253, 160),#f9fc42, rgb(255, 253, 160),white);
}

form {
  font-weight: bolder;
}

button {
  height: 25px;
  margin: 3px;
  background-color: A0D568;
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-weight: bolder;
  font-size: large;
}



.mastery-color {
  width: 9.1%;
}

#color-0 {
  background-color: #c42121;
}

#color-1 {
  background-color: #e42828;
}

#color-2 {
  background-color: #f62d2d;
}

#color-3 {
  background-color: #ff6207;
}

#color-4 {
  background-color: #ff7707;
}

#color-5 {
  background-color: #ff8b07;
}

#color-6 {
  background-color: #ffa600;
}

#color-7 {
  background-color: #ffbb00;
}

#color-8 {
  background-color: #ffd000;
}


#color-9 {
  background-color: #fbff19;
}

#color-10 {
  background-image: linear-gradient(to bottom right, white, rgb(255, 253, 160),#f9fc42, rgb(255, 253, 160),white);
}

.home-screen-button {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  text-decoration: underline;
  height: 95px;
  width: 160px;
  border-radius: 45%;
  box-shadow: inset 2px 2px rgba(0,0,0,.15);
}

.student-dash-fact {
  border: 1px solid; 
  border-radius: 3px;
  margin-left: 5px; 
  margin-right: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 48px;
  text-align: center;
  font-weight: bold;
}

.color-palette {
  color: #AC92EB;
  color: #4FC1E8;
  color: #A0D568;
  color: #FFCE54;
  color: #ED5564;
}

button {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: inset 2 2 2 2 #A0D568;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  background-color: #4FC1E8;
  border-radius: 5px;
  box-shadow: inset 2px 2px rgba(0,0,0,.15);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.needs-support input[type='checkbox']{
  font-weight:bold;
  font-size: 50px;
  color: gray;
}

button:hover {
  box-shadow: inset 0 0 0 50px #A0D568;
}

.nav-bar:hover {
  color: #4FC1E8;
}



#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}

.home-one {
  text-align: center;
  text-decoration: underline;
}

.home-two {
  text-align: center;
}

.home-three {
  text-align: center;
}

.home-four {
  text-align: center;
}

.fonts-to-use {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Roboto;
  font-family: Open sans;

}

#matteo-1{
  background-color: #AD2823;
}

#matteo-2{
  background-color: #F26721;
}

#matteo-3{
  background-color: #FEE000;
}

#matteo-4{
  background-color: #4FB748;
}

#matteo-5{
  background-color: #07446B;
}

#matteo-6{
  background-color: #4B2164;
}

#matteo-7{
  background-color: #6C52A2;
}