body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #00396b;
  padding: 5px;
  border-radius: 15px;
  max-width: 700px;
  margin-bottom: 5px;
}

.quiz-grid {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #00396b;
  padding: 5px;
  border-radius: 15px;
  min-width: 400px;
  max-width: 450px;
  margin-bottom: 5px;
}

.grid-square {
  width: 9%;
  border-radius: 5px; 
  padding-bottom: 7.5%; /* 1:1 Aspect Ratio */
  text-align: center; 
  display: flex;
  justify-content: center;
  height: 0; 
  position: relative; 
  margin: 2px;
  flex-wrap: wrap;
  /* margin-top: 3px; 
  margin-bottom: 3px; */
  /* border: 1px solid white; */
  
}

.grid-fact {
  /* font-size: max(1.6vw, 20px); */
  font-size: min(2vw, 18px)
}

.grid-answer {
  font-size: min(2vw, 18px);
  color:#00686b;
  font-weight: bolder;
  background-color: white;

  border-radius: 5px;
}

.grid-mastered {
  font-size: min(1.2vw, 10px);
  margin-top: -8px;
  padding: 0px;
  color: #c42121;
}

.grid-photo {
  width: 50%;
  min-width: 500px;
}

.support-not-needed{
  margin: 5px; 
  background-color: lightgreen
}

.support-needed{
  margin: 5px; 
  background-color: lightcoral
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: "12px";
  margin: 0 12px 12px;
  background: #D95276;
  text-decoration: none;
  color: #022873;
  border-radius: 5px;
  height: 55px;
  width: 95px;
  text-align: center;
  margin-bottom: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#level-0 {
  background-color: #c42121;
}

#level-1 {
  background-color: #e42828;
}

#level-2 {
  background-color: #f62d2d;
}

#level-3 {
  background-color: #ff6207;
}

#level-4 {
  background-color: #ff7707;
}

#level-5 {
  background-color: #ff8b07;
}

#level-6 {
  background-color: #ffa600;
}

#level-7 {
  background-color: #ffbb00;
}

#level-8 {
  background-color: #ffd000;
}


#level-9 {
  background-color: #fbff19;
}

#level-10 {
  background-image: linear-gradient(to bottom right, white, rgb(255, 253, 160),#fbff19, rgb(255, 253, 160),white);
}

button {
  width: 130px;
  height: 25px;
  margin: 3px;
}

.mastery-color {
  width: 9.1%;
}

#color-0 {
  background-color: #c42121;
}

#color-1 {
  background-color: #e42828;
}

#color-2 {
  background-color: #f62d2d;
}

#color-3 {
  background-color: #ff6207;
}

#color-4 {
  background-color: #ff7707;
}

#color-5 {
  background-color: #ff8b07;
}

#color-6 {
  background-color: #ffa600;
}

#color-7 {
  background-color: #ffbb00;
}

#color-8 {
  background-color: #ffd000;
}


#color-9 {
  background-color: #fbff19;
}

#color-10 {
  background-image: linear-gradient(to bottom right, white, rgb(255, 253, 160),#fbff19, rgb(255, 253, 160),white);
}

.student-dash-fact {
  border: 1px solid; 
  border-radius: 3px;
  margin-left: 5px; 
  margin-right: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}